extends logged-in
include mixins/form.jade

block content
  form(method="post", action="/add-project")
    mixin field({}, 'text', 'id', 'ID')
    mixin field(project, 'text', 'name', 'Name')
    mixin largeField(project, 'text', 'desc', 'Description')
    mixin largeField(project, 'text', 'administrators', 'Administrators', 'comma seperated user IDs')
    mixin largeField(project, 'text', 'collaborators', 'Collaborators', 'comma seperated user IDs')
    mixin markdownInput(project, 'body', 'Body')
    mixin submitButtons
block script
  mixin markdownInputScript(['body'])
