extends logged-in
include mixins/form

block content
  form(method="post", action="/tasks")
    mixin field(task, 'text', 'project', 'Project')
    mixin largeField(task, 'text', 'subject', 'Subject')
    mixin largeField(task, 'text', 'desc', 'Description')
    mixin taskStatusField(task)
    mixin dateTimeFields(task, 'start', 'Start')
    mixin dateTimeFields(task, 'end', 'End')
    mixin textareaField(task, 'body', 'Body')
    mixin submitButtons
block script
  mixin dateTimePickerScript(['startDate', 'endDate'])
