div#comments(class="container")
  if comments.length > 0
    h4(class="weak") #{comments.length} comments
    - each comment in comments
      hr
      div(class='commentContainer')
        != marked(comment['body'])
        div(class='row')
          div(class='span3')
            span(class='weak')= moment(comment.createdAt).fromNow()
          div(class='span2 offset7')
            a(href="#", onclick="editComment(#{comment.id}); return false;") Edit
