extends layout

block content
  form(method="post", action="/projects/" + id)
    div
      label(for="id") Subject:
      input(type="text", name="id", value=id, readonly)
    div
      label(for="name") Description:
      input(type="text", name="name", value=project.name)
    div
      label(for="desc") Description:
      input(type="text", name="desc", value=project.desc)
    div
      label(for="body") Body:
      textarea(name="body", cols=80, rows=10)!= project.body
    div
      button(class="btn btn-primary", type="submit") Submit
      a(class="btn", href="javascript:history.back()") Cancel
