extends layout
include mixins/status

block navi
  - if (!everyauth.loggedIn)
    include navi-index
  - else
    include navi-logged-in
block content
  - if (!everyauth.loggedIn)
    div Please 
      a(href="/login") Login
  - else
    div
      div
        ul(class="thumbnails")
          - each project in projects
            li(class="span4")
              div(class="thumbnail")
                a(href="/project?id=" + project.id, class="btn btn-primary")= project.id
                - each s in ['open', 'in-progress', 'resolved', 'closed']
                  if project.summary.status[s]
                    span  
                    mixin statusLabel(s, project.summary.status[s])  
                h3= project.summary.name ? project.summary.name : 'none'
                p= project.summary.desc
