extends layout

block header
  div
    a(class="btn btn-primary",href="/") Top
    a(class="btn btn-primary",href="/add-task") Add Task
    a(class="btn btn-primary",href="/add-project") Add Project

