.input-xxlarge {
  height: 300px;
}

.weak {
  color: #999;
}

.modal {
  /* new custom width */
  width: 600px;
  /* must be half of the width, minus scrollbar on the left (30px) */
  margin-left: -300px;
}

table.data{
  border-collapse: collapse;
  border: 1px solid #cacaca;
  outline: 3px solid #f7f7f7;
}

table.data th{
  background: #e6f1f6;
  color: #86a1a6;
  border: 1px solid #dadada;
  font-weight: normal;
}

table.data td{
  border-top: 1px solid #eee;
  border: 1px solid #eee;
  padding: 2px 8px;
  vertical-align: middle;
  background: #fdfdfd;
}

.search-form {
  margin-top: 0px;
  margin-bottom: 0px;
}

.search-form input {
  margin-top: 5px;
}

.wmd-panel
{
}

.wmd-button-bar 
{
	width: 100%;
	background-color: Silver; 
}

.wmd-input 
{ 
	height: 300px;
	width: 100%;
	background-color: Gainsboro;
	border: 1px solid DarkGray;
}

.wmd-preview 
{ 
}

.wmd-button-row 
{
	position: relative; 
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-top: 10px;
	padding: 0px;  
	height: 20px;
}

.wmd-spacer
{
	width: 1px; 
	height: 20px; 
	margin-left: 14px;
	
	position: absolute;
	background-color: Silver;
	display: inline-block; 
	list-style: none;
}

.wmd-button {
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-right: 3px;
    position: absolute;
    display: inline-block;
    list-style: none;
    cursor: pointer;
}

.wmd-button > span {
    background-image: url(/img/wmd-buttons.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.wmd-spacer1
{
    left: 50px;
}
.wmd-spacer2
{
    left: 175px;
}
.wmd-spacer3
{
    left: 300px;
}




.wmd-prompt-background
{
	background-color: Black;
}

.wmd-prompt-dialog
{
	border: 1px solid #999999;
	background-color: #F5F5F5;
}

.wmd-prompt-dialog > div {
	font-size: 0.8em;
	font-family: arial, helvetica, sans-serif;
}


.wmd-prompt-dialog > form > input[type="text"] {
	border: 1px solid #999999;
	color: black;
}

.wmd-prompt-dialog > form > input[type="button"]{
	border: 1px solid #888888;
	font-family: trebuchet MS, helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
}

